  <div style="overflow: scroll; max-height: 100%; width:100%">
  <div class="card" style="width: 25rem;">
    <img class="card-img-top" src="{{items.cover_image}}" alt="Cafe Goodluck">
    <div class="card-body">
      <h3 class="card-title">{{items.name}}</h3>
      <h5 class="card-subtitle">{{items.area}} {{items.city}}</h5>
      <p class="text-sm mb-0" style="margin-top: 10px;">
        Cafe GoodLuck is one of the oldest Irani places in Pune.
        Cafe GoodLuck is most famous for it bun maska/bun omelette and Iranian tea among the other dishes
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <div *ngFor="let cat of items.category" class="category">
        <li class="list-group-item">
          <i class="material-icons">check_box </i> {{cat}}

        </li>
      </div>
    </ul>
    <div class="card-body container">
      <div class="row">
        <div class="col-sm">
          <h4 class="rating">Dining Ratings</h4>
          <div *ngFor="let rates of items.feature_rating.rate">
            <h5>{{rates.name}} </h5>
            <star-rating value={{rates.rating}} totalstars={{totalRating}} checkedcolor="red" uncheckedcolor="lightgray"
              size="24px" readonly="true"> </star-rating>
          </div>
        </div>

        <div class="col-sm">
          <h4 class="rating">User Ratings</h4>
          <div class="review">
            <div *ngFor="let vote of items.review_rating.votes" class="userRating">
              <star-rating value={{vote.rating}} totalstars={{totalstar}} checkedcolor="orange"
                uncheckedcolor="lightgray" size="24px" readonly="true"> </star-rating> {{vote.votes}}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>